<!-- 부트스트랩의 경우 jquery가 꼭 있어야 하기 때문에 (jquery에 의존) jquery.js 를 부트스트랩보다 위에 둠. -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- 스프링 부트는 기본적으로 /src/main/resources/static에 위치한 js, css, img 등 정적 파일은  URL에서 /로 설정된다.-->
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>